# Tareas
1) Desde un notebook, script para llamar a ecobici y guardar alguna info SIMPLE (ej: cuántos slots ocupados) en csv.
2) Agregar el secret para usar en github actions
3) Configurar la Github Action para que haga un commit (en una branch en particular? O en main?)
4) Luego de probar que funciona, agregar el cron a la github action
5) Mergear a main el nuevo código

In [5]:
import pandas as pd

from internal.platform.environment.environment import set_environment
from internal.gateway.transportBA import transportBA
from internal.repository.transportBA.stations_repository import StationsRepository

In [6]:
set_environment()

In [7]:
def preprocessStations(stations_df):
    stations_df = stations_df[["station_id", "groups"]]
    return stations_df.explode("groups")

def preprocessStationsStatus(stations_status_df):
    stations_status_df["status_last_reported_utc"] = pd.to_datetime(stations_status_df["last_reported"], unit="s", utc=True)
    return station_status_df[
        ["station_id",
         "num_bikes_available", 
         "num_bikes_disabled", 
         "num_docks_available", 
         "num_docks_disabled",
         "status_last_reported_utc",
         "lat",
         ]
    ]

In [4]:
transportBAClient = transportBA.Client()
stations_df = transportBAClient.GetStations()
station_status_df = transportBAClient.GetStationStatus()
stationsDao = StationsRepository()

stations_df = preprocessStations(stations_df)
station_status_df = preprocessStationsStatus(station_status_df)
join = pd.merge(stations_df, station_status_df, on="station_id")

stationsDao.AppendWithJobRunAt(join)

HTTPError: 401 Client Error: Unauthorized for url: https://apitransporte.buenosaires.gob.ar/ecobici/gbfs/stationInformation

In [ ]:
from internal.gateway.openrouteservice.client import OpenRouteServiceClient
client = OpenRouteServiceClient()
client.GetDurationMatrix()

In [10]:
transportBAClient = transportBA.Client()
stations_df = transportBAClient.GetStations()
station_status_df = transportBAClient.GetStationStatus()
stationsDao = StationsRepository()

In [11]:
pd.DataFrame(stations_df)

,station_id,name,physical_configuration,lat,lon,altitude,address,post_code,capacity,is_charging_station,rental_methods,groups,obcn,short_name,nearby_distance,_ride_code_support,rental_uris,cross_street
0,2,002 - Retiro I,SMARTLITMAPFRAME,-34.592424,-58.374710,0.0,AV. Dr. José María Ramos Mejía 1300,11111,40,False,"[KEY, TRANSITCARD, PHONE]",[RETIRO],,,1000.0,True,{},NaN
1,3,003 - ADUANA,SMARTLITMAPFRAME,-34.612207,-58.369129,NaN,Av. Paseo Colón 380,C1063,28,False,"[KEY, TRANSITCARD, PHONE]",[MONSERRAT],NaN,NaN,1000.0,True,{},.
2,4,004 - Plaza Roma,SMARTLITMAPFRAME,-34.603008,-58.368856,0.0,Av. Corrientes 100,11111,20,False,"[KEY, TRANSITCARD, PHONE]",[SAN NICOLAS],,,1000.0,True,{},NaN
3,5,005 - Plaza Italia,SMARTLITMAPFRAME,-34.580550,-58.420954,0.0,Av. Sarmiento 2601,1111,42,False,"[KEY, TRANSITCARD, PHONE]",[PALERMO],,,1000.0,True,{},NaN
4,6,006 - Parque Lezama,SMARTLITMAPFRAME,-34.628526,-58.369758,0.0,"Avenida Martin Garcia, 295",1111,20,False,"[KEY, TRANSITCARD, PHONE]",[SAN TELMO],,,1000.0,True,{},NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,587,351 - PAYSANDU,SMARTLITMAPFRAME,-34.616370,-58.449870,0.0,Paysandú 573,C1405,20,False,"[KEY, TRANSITCARD, PHONE]",[CABALLITO],,,1000.0,True,{},NaN
395,588,400 - HIDALGO,SMARTLITMAPFRAME,-34.606153,-58.441754,0.0,Hidalgo 1210,C1414,16,False,"[KEY, TRANSITCARD, PHONE]",[VILLA CRESPO],,,1000.0,True,{},NaN
396,589,016 - MUSEO DEL AGUA,SMARTLITMAPFRAME,-34.600982,-58.395457,0.0,Viamonte 1994,C1056,16,False,"[KEY, TRANSITCARD, PHONE]",[BALVANERA],,,1000.0,True,{},NaN
397,590,392 - CHARCAS,SMARTLITMAPFRAME,-34.586866,-58.421426,0.0,Paraguay 4226,C1425,16,False,"[KEY, TRANSITCARD, PHONE]",[PALERMO],,,1000.0,True,{},NaN
398,591,398 - MERCEDES,SMARTLITMAPFRAME,-34.604763,-58.509574,0.0,Av. Francisco Beiró 4150,C1419,16,False,"[KEY, TRANSITCARD, PHONE]",[DEVOTO],,,1000.0,True,{},NaN

In [12]:
station_status_df

,station_id,num_bikes_available,num_bikes_available_types,num_bikes_disabled,num_docks_available,num_docks_disabled,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,traffic
0,2,2,"{'mechanical': 2, 'ebike': 0}",0,38,1,1746245253,False,IN_SERVICE,1,1,1,None
1,3,0,"{'mechanical': 0, 'ebike': 0}",3,25,0,1746245298,False,IN_SERVICE,1,1,1,None
2,4,2,"{'mechanical': 2, 'ebike': 0}",1,17,0,1746245109,False,IN_SERVICE,1,1,1,None
3,5,13,"{'mechanical': 13, 'ebike': 0}",2,27,0,1746245231,False,IN_SERVICE,1,1,1,None
4,6,14,"{'mechanical': 14, 'ebike': 0}",2,4,0,1746245312,False,IN_SERVICE,1,1,1,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,587,8,"{'mechanical': 8, 'ebike': 0}",2,10,0,1746245339,False,IN_SERVICE,1,1,1,None
395,588,3,"{'mechanical': 3, 'ebike': 0}",6,7,0,1746245311,False,IN_SERVICE,1,1,1,None
396,589,2,"{'mechanical': 2, 'ebike': 0}",0,14,1,1746245370,False,IN_SERVICE,1,1,1,None
397,590,3,"{'mechanical': 3, 'ebike': 0}",4,9,0,1746245291,False,IN_SERVICE,1,1,1,None
398,591,3,"{'mechanical': 3, 'ebike': 0}",0,13,0,1746245294,False,IN_SERVICE,1,1,1,None